In [1]:
import pandas as pd

In [10]:
df = pd.read_csv('data/feri_logy_analyza/200629_karting/kartfinal36pr3r.csv', header=None, sep=';')

In [14]:
df = df.drop(columns=[0, 1, 3, 5, 7, 9, 11, 13, 15, 17])
df.columns = ['LAT', 'LON', 'UTMX', 'UTMY', 'HMSL', 'GSPEED', 'CRS', 'HACC', 'NXPT']

In [23]:
df

,LAT,LON,UTMX,UTMY,HMSL,GSPEED,CRS,HACC,NXPT
0,480492143,175678361,69136003,532496037,119322,108,21910375,141,5
1,480492134,175678352,69135997,532496027,119324,103,21570312,141,6
2,480492127,175678343,69135990,532496019,119315,111,21556731,141,8
3,480492119,175678334,69135984,532496010,119315,112,21661797,141,9
4,480492111,175678325,69135977,532496001,119313,105,21701829,141,10
...,...,...,...,...,...,...,...,...,...
1416,480492388,175678675,69136228,532496318,119330,97,21431455,141,1
1417,480492381,175678669,69136224,532496310,119324,84,21663436,141,1
1418,480492376,175678662,69136219,532496304,119318,81,21529932,141,1
1419,480492371,175678657,69136215,532496298,119321,80,21579600,141,1
1420,480492366,175678652,69136212,532496293,119316,68,21469375,141,1